package signup

import (
    "teamforger/backend/core"
    "teamforger/backend/pages/layout"
    "teamforger/backend/pages/signup/sections"
)

templ SignUp() {
    @layout.Base(false, core.User{}, sections.SignUpForm())
}
